@import "~global/styles";

.Container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
};

.PopUpContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 150;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 5px 0px;
  background-color: white;
  transition: all 0.1s;
  
  @include for-navbar2 {
    width: 90%;
  }
};

.opened {
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}