@import "~global/styles";

.Hamburger {
  width: 30px;
  height: 22.5px; 
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 20px;

  @include for-hamburger {
    display: none;
  }

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #773be2;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
        top: 0;
        width: 100%;
    }
    &:nth-child(4) {
        top: 18px;
        width: 100%; 
        left: 0;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 9px;
    }

   
    }
  }


.opened {

    span {
        &:nth-child(1) {
            top: 9px;
            width: 0%;
            left: 50%;
          }
        
          &:nth-child(2) {
            transform: rotate(45deg);
          }
        
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
          &:nth-child(4) {
            top: 9px;
            width: 0%;
            left: 50%;
    }
  }
}